    #owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
    }
.owl-carousel div h2, .owl-carousel div .textoverlay {
    position: absolute;
    color: #FFF;
    font-size: 12px;
    display: block;
}
.textoverlay h1	{
	font-size: 50px;
	font-weight: 700;
	padding-bottom: 12px;
}
.textoverlay {
	width: 100%;
    margin: 0 auto;
    padding-top: 15%;
	text-align: center;
	line-height: 1.5;
	p 	{
	font-size: 14px;
	padding-bottom: 40px;
	color: rgba(255,255,255, .4);
	}
}
.btn 	{
	background-color: #03ad99;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #077a6d;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 14px;
    font-weight: bold;
    padding: 11px 45px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}
