.owl-controls.clickable {
    margin: 0 auto;
    background-color: white;
    width: 9em;
    height: 3em;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: center;
    z-index: 9999;
    opacity: 0;
}

.owl-carousel {
    &:hover {
        .owl-controls.clickable {
            opacity: 1;
        }
    }
    .item {
        padding: 0 .8em;
    }
    .textoverlay {
        position: absolute;
        line-height: 1.5;
        color: rgba(255, 255, 255, .4);
        p {
            font-size: 1.3em;
            padding-bottom: 1.2em;
        }
        h1 {
            color: #FFF;
            font-size: 3.8em;
            font-weight: 700;
            padding-bottom: .5em;
            text-transform: uppercase;
        }
    }
    .change-text-white {
        color: rgba(255, 255, 255, 1.0) !important;
    }
    .focus-text-fix {
        margin-top: 5em;
        p {
            color: white;
        }
    }
    .showcase-text-fix {
        margin-top: 5em;
        p {
            color: rgba(255, 255, 255, .4);
        }
    }
}

.owl-carousel .color-text p {
    color: $primary-color;
}

.background-highlight > h1 > span:first-child {
    background-color: $primary-color;
    line-height: 1.5em;
    padding: 0 .5em;
}

.background-highlight > h1 > span:first-child > span:nth-child(2) {
    padding-left: 0;
    background-color: $primary-color;
    margin-left: .5em;
}

#owl-demo .item {
    background-position: center;
    background-repeat: no-repeat;
    height: 88vh;
}

.center-div {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.owl-carousel {
    text-align: center;
    cursor: default;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer;
}

.owl-theme .owl-controls .owl-page span {
    background-color: $primary-color;
}

.btn {
    margin-top: 0;
    background-color: $my-button;
    border: 0.0625em solid #077a6d;
    display: inline-block;
    cursor: pointer;
    font-family: Trebuchet MS;
    font-size: 1em;
    padding: 1em 1.6em;
    text-decoration: none;
    text-shadow: 0 0.0625em 0 #3d768a;
    border: medium none;
    text-transform: uppercase;
    transition: all 200ms ease-out 0s;
    -moz-border-radius: .25em;
    -webkit-border-radius: .25em;
    border-radius: .25em;
    box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.15) inset;
    color: #FFF !important;
    font-weight: 900;
    &:hover {
        text-decoration: none;
        color: white;
        background-color: $my-button-hover;
    }
}

.owl-pagination {
    background-color: white;
    margin: 0 auto;
    width: 10em;
    padding-bottom: 3.5em;
    padding-top: .8em;
    z-index: 9999
}

@media (max-width: 320px) {
    .owl-carousel {
        .textoverlay {
            p {
                font-size: 1em;
                letter-spacing: .011em;
            }
            h1 {
                font-size: 2em;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .owl-carousel {
        .textoverlay {
            p {
                font-size: 1.2em;
            }
            h1 {
                font-size: 2.4em;
            }
        }
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .owl-carousel {
        .textoverlay {
            p {
                font-size: 1.1em;
            }
            h1 {
                font-size: 2.5em;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .owl-carousel {
        .textoverlay {
            p {
                font-size: 1.3em;
            }
            h1 {
                font-size: 3.2em;
            }
        }
    }
}