
.navbar-header {
    height: 40px;
    border-bottom: 1px solid #e6e9ed;
    float: none !important;
    padding: 10px;
    li, a   {
        display: table-cell;
        height: 50px;
    }
}
.navbar-brand {
    float: left;
    padding-left: 0px;
    img {
    vertical-align: middle;
    border: 0;
    padding-right: 60px;
    }
}
.navbar-nav {
    float: none;
    margin: 10px;
}
.info   { 
    a {
        float: left;
    }
    li a {
    padding-right: 25px;
    }
    img {
    padding-right: 5px;
    }
}
.social {
    li a {
        padding-left: 18px;
    }
}
.nav-bar ul {
    list-style-position: outside;
}
.navbar-header .info    { 
    li {
    padding-right: 25px;
    }
    li a {
    font-size: 12px;
    }
}
.container {
    padding: 0;
}
.navbar-nav > li > a {
    color: $primary-color;
    font-weight: 700;
    font-size: 13px;
}
.nav > li > a {
    padding: 15px 20px;
}
a {
    color: #73879C;
}
.dropdown-menu {
    padding: 0;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-image: none !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #AAF2E4;
}
.nav .dropdown-menu:not(.yamm-dropdown-menu) li a {
    color: #73879C;
    font-weight: 700;
    font-size: 13px;
    padding: 15px;
}
.yamm-content {
    font-size: 12px;
    padding: 25px;
}
.myButton {
    background-color: #03ad99;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #077a6d;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 14px;
    font-weight: bold;
    padding: 13px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}
.myButton:hover {
    background-color: #408c99;
}
.myButton:active {
    position: relative;
    top: 1px;
}
// yamm dropdown menu MEGA MENU
.yamm-content {
    font-size: 13px;
    padding: 20px;
    > div {
        line-height: 1.5;
        color: $primary-color;
    }
    h3 {
        font-size: 18px;
        line-height: 3;
    }
    li:before {
        content: "o ";
        color: #408c99;
        margin-right: 5px;
    }
    a {
        margin-bottom: 10px;
        margin-top: 15px;
    }
}
.focus img {
    margin: 10px;
}
.latest {
    margin: 1px;
    
}
.work {} .myButton2 {
    background-color: #03ad99;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #077a6d;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}
.myButton2:hover {
    background-color: #408c99;
}
.myButton2:active {
    position: relative;
    top: 1px;
}

// Bottom Navbar area

.bottomNav {
    background-color: $background;
    line-height: 1.5;
    font-size: 14px;
    color: $secondary-color;
    padding-bottom: 60px;
    h2 {
        font-size: 18px;
        margin: 90px 0 20px 0;
    }
    p {
        margin: 10px 0 10px 0;
    }
}
.bottomOne img {
    height: 30px;
    background-color: $background;
    color: $primary-color
}
.bottomMenu {
    vertical-align: middle;
    font-size: 12px;
    a {
        float: right;
    }
    li a {
        padding-left: 18px;
    }
}
.bottomFooter {
    background-color: rgba(40, 54, 69, 1);
    border-bottom: none;
    padding-top: 20px;
}
.fixBottomHeader {
    border: none;
    margin-bottom: 0;
}