.sectionOne {
    h1 {
        text-align: center;
        font-size: 44px;
        margin-top: 60px;
        margin-bottom: 30px;
        color: $primary-color;
    }
    p {
        line-height: 2;
        margin: 20px 0 70px 0;
        color: $primary-color;
        font-size: 20px;
        text-align: center;
    }
    h2 {
        font-size: 20px;
        margin: 20px 0;
        color: $primary-color;
    }
}
.sectionOneParagraphs {
    h2 {
        font-size: 22px;
        line-height: 1.5;
        margin: 20px 0;
        color: $primary-color;
    }
    p {
        font-size: 14px;
        line-height: 1.5;
        margin: 20px 0;
        color: $primary-color;
    }
}
.sectionTwo {
    padding: 0 10%;
    h1 {
        text-align: center;
        font-size: 44px;
        margin-top: 200px;
        margin-bottom: 30px;
        color: hsla(211, 25%, 42%, 1);
    }
    p {
        color: #506A85;
        font-size: 20px;
        text-align: center;
        margin-bottom: 60px;
    }
    a   {
        margin: 0 40%;
        margin-bottom: 80px;
    }
}
.sectionThree {
    h3 {
        text-align: center;
        font-size: 20px;
        line-height: 4;
        color: $primary-color;
    }
    p {
        color: #506A85;
        font-size: 14px;
        text-align: center;
    }
}
.sectionThreeBorder {
    border-left: 1px solid hsla(211, 25%, 42%, .3);
    border-right: 1px solid hsla(211, 25%, 42%, .3);
    border-bottom: 1px solid hsla(211, 25%, 42%, .3);
    height: 130px;
    width: 570px;
    height: 130px;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
}
.sectionThreeBorder2 {
    border-left: 1px solid hsla(211, 25%, 42%, .3);
    border-right: 1px solid hsla(211, 25%, 42%, .3);
    border-bottom: 1px solid hsla(211, 25%, 42%, .3);
    width: 570px;
    margin-left: 15px;
    margin-bottom: 100px;
    height: 130px;
}
#owl-demo2 .item2 {
    margin: 15px;
}
#owl-demo2 .item2 img {
    display: block;
    width: 100%;
    height: auto;
}