/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: #506a85;
  font-size: 1em;
  line-height: 1.6; }

.dropdown-backdrop {
  position: static; }

.hidden-xs {
  border-bottom: 0.0625em solid #e5eaef; }

.navbar-default {
  background-color: transparent; }

.navbar-default .navbar-toggle {
  background-color: #04bea5; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:active {
    background-color: #04b49c; }

.navbar-toggle {
  padding: .7em;
  border: medium none;
  text-transform: uppercase;
  transition: all 200ms ease-out 0s;
  border-radius: 3px;
  box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.15) inset;
  color: #FFF !important;
  font-weight: 700; }

.navbar-default .navbar-toggle .icon-bar {
  background: white;
  padding: .1em 0;
  width: 1em;
  margin: .1em; }

.navbar-collapse {
  width: 100%; }

.navbar {
  border: none;
  margin-top: .8em;
  margin-bottom: .5em; }

.social {
  font-size: .70em;
  vertical-align: middle;
  padding: 1.2em 0; }
  .social img {
    height: 1em; }
  .social a:hover, .social a:focus, .social a:active {
    text-decoration: none; }

.social-left {
  margin-right: .80em; }
  .social-left img {
    width: 1.1em;
    height: .80em; }

.social-right {
  margin-left: .80em; }

.navbar-nav {
  float: none;
  margin: .5em 0; }

.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover {
  color: #04bea5;
  background: white;
  margin-bottom: 0; }

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  border-color: #e5eaef; }

.navbar-nav > li > a {
  font-size: .8125em;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #506a85;
  padding: 15px 15px;
  border-width: 1px 1px medium;
  border-style: solid solid none;
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) -moz-use-text-color;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -webkit-border-top-colors: none;
  -webkit-border-right-colors: none;
  -webkit-border-bottom-colors: none;
  -webkit-border-left-colors: none;
  border-top-colors: none;
  border-right-colors: none;
  border-bottom-colors: none;
  border-left-colors: none;
  border-image: none;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  bottom: -1px;
  z-index: 9999; }

.yamm .nav,
.yamm .collapse {
  position: inherit; }

a {
  color: #506a85; }

.dropdown-menu {
  padding: 0;
  border-color: #e5eaef; }

.nav .dropdown-menu:not(.yamm-dropdown-menu) li a {
  color: #859db6;
  font-weight: bold;
  font-size: 0.9125em;
  padding: 1em;
  margin-top: 0; }
  .nav .dropdown-menu:not(.yamm-dropdown-menu) li a:hover, .nav .dropdown-menu:not(.yamm-dropdown-menu) li a:focus, .nav .dropdown-menu:not(.yamm-dropdown-menu) li a:active {
    color: white; }

.navbar-default .navbar-nav > li > a {
  color: #506a85; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #04bea5;
  background-image: none !important; }

.bottomNav {
  background-color: #2e3c4c;
  color: #859db6;
  line-height: 1.5;
  letter-spacing: .1em;
  font-size: .8em;
  padding-bottom: 4em; }
  .bottomNav h2 {
    color: white;
    font-size: 18px;
    margin: 4em 0 20px 0;
    text-transform: uppercase; }
  .bottomNav p {
    margin: 10px 0 10px 0; }

.bottomOne {
  padding: 0 2em; }
  .bottomOne a {
    color: #859db6;
    font-size: 1.1em;
    font-weight: 900;
    text-decoration: none;
    border: none; }
    .bottomOne a:hover, .bottomOne a:focus, .bottomOne a:active {
      color: #04bea5; }

.bottomTwo {
  padding: 0 2em; }
  .bottomTwo img {
    width: 100%; }
  .bottomTwo .col-lg-1,
  .bottomTwo .col-lg-10,
  .bottomTwo .col-lg-11,
  .bottomTwo .col-lg-12,
  .bottomTwo .col-lg-2,
  .bottomTwo .col-lg-3,
  .bottomTwo .col-lg-4,
  .bottomTwo .col-lg-5,
  .bottomTwo .col-lg-6,
  .bottomTwo .col-lg-7,
  .bottomTwo .col-lg-8,
  .bottomTwo .col-lg-9,
  .bottomTwo .col-md-1,
  .bottomTwo .col-md-10,
  .bottomTwo .col-md-11,
  .bottomTwo .col-md-12,
  .bottomTwo .col-md-2,
  .bottomTwo .col-md-3,
  .bottomTwo .col-md-4,
  .bottomTwo .col-md-5,
  .bottomTwo .col-md-6,
  .bottomTwo .col-md-7,
  .bottomTwo .col-md-8,
  .bottomTwo .col-md-9,
  .bottomTwo .col-sm-1,
  .bottomTwo .col-sm-10,
  .bottomTwo .col-sm-11,
  .bottomTwo .col-sm-12,
  .bottomTwo .col-sm-2,
  .bottomTwo .col-sm-3,
  .bottomTwo .col-sm-4,
  .bottomTwo .col-sm-5,
  .bottomTwo .col-sm-6,
  .bottomTwo .col-sm-7,
  .bottomTwo .col-sm-8,
  .bottomTwo .col-sm-9,
  .bottomTwo .col-xs-1,
  .bottomTwo .col-xs-10,
  .bottomTwo .col-xs-11,
  .bottomTwo .col-xs-12,
  .bottomTwo .col-xs-2,
  .bottomTwo .col-xs-3,
  .bottomTwo .col-xs-4,
  .bottomTwo .col-xs-5,
  .bottomTwo .col-xs-6,
  .bottomTwo .col-xs-7,
  .bottomTwo .col-xs-8,
  .bottomTwo .col-xs-9 {
    padding: .2em .2em; }

.bottomThree {
  padding: 0 2em; }
  .bottomThree a {
    color: #859db6;
    display: block;
    text-decoration: none; }

.bottomFour {
  padding: 0 2em; }

.bottomMenu {
  vertical-align: middle;
  font-size: 12px; }
  .bottomMenu li {
    float: left; }
  .bottomMenu a {
    color: #859db6 !important;
    display: block;
    padding-left: 18px; }

.bottomFooter {
  background-color: #283645;
  border-bottom: none;
  padding: 1.8em 0; }
  .bottomFooter .info {
    vertical-align: middle;
    font-size: 12px; }
    .bottomFooter .info a {
      color: #859db6 !important; }

.fixBottomHeader {
  border: none;
  margin-bottom: 0; }

@media (max-width: 992px) {
  .hidden-mobile {
    display: none; }

  .navbar {
    margin: .12em; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 0.0625em solid transparent;
    box-shadow: inset 0 0.0625em 0 rgba(255, 255, 255, 0.1); }

  .navbar-collapse.collapse {
    display: none !important;
    width: 100%; }

  .collapse.in {
    display: block !important; }

  .navbar-collapse {
    width: 100%; }

  .dropdown-menu {
    position: relative; }

  .navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%; }

  .navbar-brand {
    float: none; }

  .navbar-nav > li {
    float: none !important; }

  .navbar-nav > li > a {
    z-index: 0; }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    padding-left: 3em;
    color: #859db6; }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: white;
    background: #04bea5;
    padding-left: 3em; }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    border-bottom: 1px solid #e5eaef; }

  .navbar-toggle {
    margin: 1.2em auto; }

  .navbar-nav > li > a {
    border: medium none;
    border-bottom: 1px solid #e5eaef; } }
a {
  transition: all 200ms ease-out 0s; }

.yamm-content {
  line-height: 1.7;
  font-size: .92em; }
  .yamm-content h3 {
    font-size: 1.2em;
    margin-bottom: 2em;
    padding-left: 0; }
  .yamm-content li,
  .yamm-content p {
    color: #859db6; }

.circled {
  padding-left: 1em; }

.focus-on {
  padding: 1.5em 1.5em 1.5em 0; }
  .focus-on img {
    margin-bottom: 1em;
    width: 100%; }

.special-pages {
  padding: 1.5em;
  line-height: 1.9;
  padding-bottom: 2em; }
  .special-pages li {
    text-indent: -1.5em; }
  .special-pages li:before {
    padding-right: 1em;
    content: "o";
    color: #04bea5; }
  .special-pages h3 {
    margin-left: -.49em; }

.latest-work {
  padding: 1.5em; }
  .latest-work h3 {
    margin-left: -2.5em; }
  .latest-work .latest-padding {
    padding: 0 .2em; }
  .latest-work .focus-img {
    padding: 0;
    margin: 0;
    width: 100%; }
  .latest-work .work {
    margin-left: -3em; }

.about-us {
  padding: 1.5em 0 1.5em 1.5em; }

.myButton2 {
  margin-top: 2em;
  background-color: #04bea5;
  border: 0.0625em solid #077a6d;
  display: inline-block;
  cursor: pointer;
  font-family: Trebuchet MS;
  font-size: .875em;
  padding: .625em .9375em;
  text-decoration: none;
  text-shadow: 0 0.0625em 0 #3d768a;
  border: medium none;
  text-transform: uppercase;
  transition: all 200ms ease-out 0s;
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
  border-radius: .25em;
  box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.15) inset;
  color: #FFF !important;
  font-weight: 700; }

.myButton2:hover {
  text-decoration: none;
  color: white;
  background-color: #04b49c; }

.myButton2:active {
  position: relative;
  top: 0.0625em; }

@media (max-width: 992px) {
  .latest-work {
    padding-left: 4em; }

  .yamm-content {
    line-height: 1.7;
    font-size: .82em; } }
#owl-demo {
  text-align: center;
  cursor: default; }
  #owl-demo:hover .owl-controls.clickable {
    opacity: 1; }
  #owl-demo .item {
    padding: 0 .8em;
    background-position: center;
    background-repeat: no-repeat;
    height: 88vh; }
  #owl-demo .textoverlay {
    position: absolute;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.4); }
    #owl-demo .textoverlay p {
      font-size: 1.3em;
      padding-bottom: 1.2em; }
    #owl-demo .textoverlay h1 {
      color: #FFF;
      font-size: 3.8em;
      font-weight: 700;
      padding-bottom: .5em;
      text-transform: uppercase; }
  #owl-demo .change-text-white {
    color: white !important; }
  #owl-demo .focus-text-fix {
    margin-top: 5em; }
    #owl-demo .focus-text-fix p {
      color: white; }
  #owl-demo .showcase-text-fix {
    margin-top: 5em; }
    #owl-demo .showcase-text-fix p {
      color: rgba(255, 255, 255, 0.4); }
  #owl-demo .owl-controls.clickable {
    margin: 0 auto;
    background-color: white;
    width: 9em;
    height: 3em;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: center;
    z-index: 0;
    opacity: 0; }
  #owl-demo .owl-pagination {
    background-color: white;
    margin: 0 auto;
    width: 10em;
    padding-bottom: 3.5em;
    padding-top: .8em;
    z-index: 9999; }
  #owl-demo .owl-controls .owl-page,
  #owl-demo .owl-controls .owl-buttons div {
    cursor: pointer; }

#owl-demo2 {
  text-align: center; }
  #owl-demo2 img {
    width: 100%;
    padding: 0 .6em; }

.owl-theme .owl-controls .owl-page span {
  background-color: #506a85;
  opacity: 1;
  height: .9em;
  width: .9em; }

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background-color: #04bea5; }

.owl-carousel .color-text p {
  color: #506a85; }

.background-highlight > h1 > span:first-child {
  background-color: #506a85;
  line-height: 1.5em;
  padding: 0 .5em; }

.background-highlight > h1 > span:first-child > span:nth-child(2) {
  padding-left: 0;
  background-color: #506a85;
  margin-left: .5em; }

.center-div {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

.btn {
  margin-top: 0;
  background-color: #04bea5;
  border: 0.0625em solid #077a6d;
  display: inline-block;
  cursor: pointer;
  font-family: Trebuchet MS;
  font-size: 1em;
  padding: 1em 1.6em;
  text-decoration: none;
  text-shadow: 0 0.0625em 0 #3d768a;
  border: medium none;
  text-transform: uppercase;
  transition: all 200ms ease-out 0s;
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
  border-radius: .25em;
  box-shadow: 0px -2px 0px rgba(0, 0, 0, 0.15) inset;
  color: #FFF !important;
  font-weight: 900; }
  .btn:hover {
    text-decoration: none;
    color: white;
    background-color: #04b49c; }

@media (max-width: 320px) {
  #owl-demo .textoverlay p {
    font-size: 1em;
    letter-spacing: .011em; }
  #owl-demo .textoverlay h1 {
    font-size: 2em; } }
@media (min-width: 0px) and (max-width: 480px) {
  #owl-demo .textoverlay p {
    font-size: 1.2em; }
  #owl-demo .textoverlay h1 {
    font-size: 2.4em; } }
@media (min-width: 480px) and (max-width: 768px) {
  #owl-demo .textoverlay p {
    font-size: 1.1em; }
  #owl-demo .textoverlay h1 {
    font-size: 2.5em; } }
@media (min-width: 768px) and (max-width: 992px) {
  #owl-demo .textoverlay p {
    font-size: 1.3em; }
  #owl-demo .textoverlay h1 {
    font-size: 3.2em; } }
.sectionOne {
  letter-spacing: .01em;
  padding: 0 2.5em; }
  .sectionOne h1 {
    text-align: center;
    font-size: 2.75em;
    margin-top: 1.75em;
    margin-bottom: .8em;
    color: #506a85; }
  .sectionOne p {
    color: #6f8ba8;
    font-size: 1.25em;
    text-align: center;
    padding: 0;
    margin: 0; }

.sectionOneParagraphs {
  margin-top: 5em; }
  .sectionOneParagraphs h2 {
    font-size: 1.675em;
    line-height: 1.5;
    color: #506a85; }
  .sectionOneParagraphs p {
    font-size: .975em;
    line-height: 1.5;
    margin: 1.25em 0;
    color: #6f8ba8; }

.check-latest-work h1 {
  text-align: center;
  font-size: 2.75em;
  margin-top: 2em;
  margin-bottom: .5em;
  color: #506a86; }
.check-latest-work p {
  color: #6f8ba8;
  font-size: 1.25em;
  text-align: center;
  margin-bottom: 6em; }

.section-two h1 {
  text-align: center;
  font-size: 2.75em;
  margin-bottom: .9em;
  color: #506a86; }
.section-two p {
  color: #6f8ba8;
  font-size: 1.25em;
  text-align: center;
  margin-bottom: 1.75em; }
.section-two a {
  margin: 0 auto;
  margin-bottom: 8.5em; }

.center {
  text-align: center;
  margin: 0 auto; }

.sectionThree .latest-work-border {
  border: 0.0625em solid #e5eaef;
  margin-bottom: 4em;
  background-color: white; }
.sectionThree h2 {
  font-size: 1.3em;
  margin-top: 1em;
  text-align: center; }
.sectionThree p {
  color: #6f8ba8;
  font-size: .9em;
  text-align: center;
  margin-top: .5em;
  margin-bottom: 1.2em; }
.sectionThree img {
  width: 100%;
  padding: 0;
  margin: 0; }

.newsletter {
  position: relative; }

.newsletter .btn-submit {
  width: 88px;
  height: 30px;
  font-size: 13px; }

.newsletter .btn-submit,
.search .btn-submit {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 0px;
  margin-top: 2px;
  margin-right: 5px;
  color: #FFF !important;
  line-height: 1; }

.newsletter input[type="email"] {
  background: rgba(255, 255, 255, 0.15) none repeat scroll 0% 0%;
  width: 100%;
  border-radius: 3px;
  border: medium none;
  color: #FFF !important; }

.shaded-background {
  background-color: #F2F5F7;
  margin: 6em auto;
  padding-bottom: 9em; }

@media (min-width: 0px) and (max-width: 480px) {
  .sectionOne {
    padding: 0 1em; }
    .sectionOne h1 {
      margin-top: .8em;
      font-size: 2.1em; }
    .sectionOne p {
      font-size: 1.169em;
      text-align: center; }

  .check-latest-work h1 {
    font-size: 2.056em;
    margin-top: 1em;
    margin-bottom: .75em; }
  .check-latest-work p {
    font-size: 1.1em;
    margin-bottom: 4em; }

  .sectionThree p {
    margin-bottom: 2.5em; }

  .sectionOneParagraphs {
    margin-top: 4em; }
    .sectionOneParagraphs img {
      float: right;
      margin: 0 .5em 2em 1em;
      padding: 0; }
    .sectionOneParagraphs h2 {
      font-size: 1.6em; }
    .sectionOneParagraphs p {
      font-size: .875em;
      letter-spacing: .04em;
      line-height: 1.8;
      margin: 1.25em 0; }

  .section-two {
    padding: 0 1em; }
    .section-two h1 {
      font-size: 2em;
      font-weight: 500; }
    .section-two p {
      letter-spacing: .01em;
      font-size: 1.2em; }

  .bottomFooter .info {
    margin: 0 auto 2em;
    float: none !important;
    text-align: center; }
  .bottomFooter .bottomMenu {
    float: none !important;
    text-align: center; }
    .bottomFooter .bottomMenu li {
      display: inline-block;
      float: none !important;
      text-align: center; }

  .shaded-background {
    padding-bottom: 5.5em; } }
@media (min-width: 480px) and (max-width: 760px) {
  .bottomFooter .info {
    margin: 0 auto 2em;
    float: none !important;
    text-align: center; }
  .bottomFooter .bottomMenu {
    float: none !important;
    text-align: center; }
    .bottomFooter .bottomMenu li {
      display: inline-block;
      float: none !important;
      text-align: center; } }
@media (min-width: 480px) and (max-width: 992px) {
  .check-latest-work h1 {
    font-size: 2.1em;
    margin-bottom: .75em; }
  .check-latest-work p {
    font-size: 1.1em;
    margin-bottom: 3em; }

  .sectionOne {
    padding: 0 1em; }
    .sectionOne h1 {
      margin-top: .8em;
      font-size: 2.1em; }
    .sectionOne p {
      font-size: 1.169em;
      text-align: center; }

  .sectionOneParagraphs {
    margin-top: 4em; }
    .sectionOneParagraphs img {
      float: right;
      margin: 0 .5em 1em 1em;
      padding: 0; }
    .sectionOneParagraphs h2 {
      font-size: 1.675em; }
    .sectionOneParagraphs p {
      font-size: .875em;
      letter-spacing: .04em;
      line-height: 1.8;
      margin: 1.25em 0; }

  .section-two {
    padding: 0 3em; }
    .section-two h1 {
      font-size: 2.3em;
      margin-bottom: .9em;
      color: #506a86; }
    .section-two p {
      color: #6f8ba8;
      font-size: 1.25em;
      text-align: center;
      margin-bottom: 1.75em; }
    .section-two a {
      margin: 0 auto;
      margin-bottom: 8em; }

  .shaded-background {
    padding-bottom: 5.5em; } }
@media (min-width: 768px) and (max-width: 992px) {
  .sectionOne {
    padding: 0 2em; }
    .sectionOne h1 {
      margin-top: 1.5em;
      font-size: 2.8em; }
    .sectionOne p {
      font-size: 1.3em;
      text-align: center; } }
@media (min-width: 992px) {
  .sectionOne {
    padding: 0 1em; }
    .sectionOne h1 {
      margin-top: .8em;
      font-size: 2.8em; }
    .sectionOne p {
      font-size: 1.3em;
      text-align: center; }

  .sectionOneParagraphs h2 img {
    display: none; } }

/*# sourceMappingURL=main.css.map */
